html,
body {
  margin: 0;
  height: 100%;
  text-align: justify;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }

.c-site-header{
  color: black;
  text-align: center;
  border: solid 5px black;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  background-image: linear-gradient(#BC64ED, cornflowerblue);
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 50%;
}

#andi-title{
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

body{
  background-image: linear-gradient(#6495ED, #ED64DA, #EDBC64);
  /*background-color: cornflowerblue;*/
}

#about{
  font-size: 25px;
  color: black;
}

#hobbies{
  font-size: 25px;
}

img{
  width: 200px;
}

video{
  width: 200px;
}

nav li{
    display: inline;
    padding: 5px;
}

nav a:hover{
    background-color: white;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
}

#site{
  text-align: center;
  color: blue;
  border: solid 2px violet;
}

main{
  margin: 20px;
}

#images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 5px solid blue;
  border-radius: 20px;
}

#previous{
  display: flex;
  float: left;
}

#next{
  display: flex;
  float: right;
}
